@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,700');
body{
    /*background:#e9e8e2;*/
    color: #838080;
    font-family: 'Monda', sans-serif;    
    font-weight: 400;
}
header img.image-header{
    position: relative;
    width: 95%;
    margin: 50px 0 30px 20px;
}
img{
    max-width: 100%;
    padding: 20px 0px;;
}


/*START PIE CHART*/
.row-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}

.row-div [class*='col-'] {
  display: flex;
  flex-direction: column;
}

div.caption{
    text-align: center;
}
div.thumbnail{
    /*border: 1px inset black;*/
    margin: 1px;
    border: 0;
}
h2.text-center{
    font-size: 32px;
    margin: auto;
    padding: 10px;
    font-style: bold;
}

h3.text-center{
    font-size: 21px;
    margin: auto;
    padding: 10px;
}

p.text-center {
    font-size: 32px;
    margin: auto;
    padding: 10px;
    font-weight: 600;
    color: #000;
}


#donutchart,
#chart {
  font-family: Arial;
}

#donutchart {
    position: relative;
}

#container {
float:left;
width:100%;
}

#left {
min-width: 200px;
width: 100%;
}

#middle {
width: 250px;
}

#right {
min-width: 200px;
width: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)
{
    #labelOverlay {
        /*width: 90px;*/
        height: 45px;
        position: absolute;
        top: 280px;
        left: 70px;
        text-align: center;
        cursor: default;
    }

    #labelOverlay p {
      line-height: 0.3;
      padding:0;
      margin: 8px;
    }

    #labelOverlay p.used-size {
      line-height: 0.5;
      font-size: 18pt;
      text-align: center;
      color: #666;
    }

    #labelOverlay p.total-size {
      line-height: 0.5;
      font-size: 12pt;
      color: #666;
    }

    #labelOverlay1 {
        /*width: 90px;*/
        height: 45px;
        position: absolute;
        top: 280px;
        left: 90px;
        text-align: center;
        cursor: default;
    }

    #labelOverlay1 p {
      line-height: 0.3;
      padding:0;
      margin: 8px;
    }

    #labelOverlay1 p.used-size1 {
      line-height: 0.5;
      font-size: 18pt;
      text-align: center;
      color: #666;
    }

    #labelOverlay1 p.total-size1 {
      line-height: 0.5;
      font-size: 12pt;
      color: #666;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #labelOverlay {
        /*width: 90px;*/
        height: 45px;
        position: absolute;
        top: 280px;
        left: 175px;
        text-align: center;
        cursor: default;
    }

    #labelOverlay p {
      line-height: 0.3;
      padding:0;
      margin: 8px;
    }

    #labelOverlay p.used-size {
      line-height: 0.5;
      font-size: 18pt;
      text-align: center;
      color: #666;
    }

    #labelOverlay p.total-size {
      line-height: 0.5;
      font-size: 12pt;
      color: #666;
    }

    #labelOverlay1 {
        /*width: 90px;*/
        height: 45px;
        position: absolute;
        top: 280px;
        left: 190px;
        text-align: center;
        cursor: default;
    }

    #labelOverlay1 p {
      line-height: 0.3;
      padding:0;
      margin: 8px;
    }

    #labelOverlay1 p.used-size1 {
      line-height: 0.5;
      font-size: 18pt;
      text-align: center;
      color: #666;
    }

    #labelOverlay1 p.total-size1 {
      line-height: 0.5;
      font-size: 12pt;
      color: #666;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #labelOverlay {
        /*width: 90px;*/
        height: 45px;
        position: absolute;
        top: 280px;
        left: 95px;
        text-align: center;
        cursor: default;
    }

    #labelOverlay p {
      line-height: 0.3;
      padding:0;
      margin: 8px;
    }

    #labelOverlay p.used-size {
      line-height: 0.5;
      font-size: 18pt;
      text-align: center;
      color: #666;
    }

    #labelOverlay p.total-size {
      line-height: 0.5;
      font-size: 12pt;
      color: #666;
    }

    #labelOverlay1 {
        /*width: 90px;*/
        height: 45px;
        position: absolute;
        top: 280px;
        left: 110px;
        text-align: center;
        cursor: default;
    }

    #labelOverlay1 p {
      line-height: 0.3;
      padding:0;
      margin: 8px;
    }

    #labelOverlay1 p.used-size1 {
      line-height: 0.5;
      font-size: 18pt;
      text-align: center;
      color: #666;
    }

    #labelOverlay1 p.total-size1 {
      line-height: 0.5;
      font-size: 12pt;
      color: #666;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #labelOverlay {
        /*width: 90px;*/
        height: 45px;
        position: absolute;
        top: 280px;
        left: 150px;
        text-align: center;
        cursor: default;
    }

    #labelOverlay p {
      line-height: 0.3;
      padding:0;
      margin: 8px;
    }

    #labelOverlay p.used-size {
      line-height: 0.5;
      font-size: 18pt;
      text-align: center;
      color: #666;
    }

    #labelOverlay p.total-size {
      line-height: 0.5;
      font-size: 12pt;
      color: #666;
    }

    #labelOverlay1 {
        /*width: 90px;*/
        height: 45px;
        position: absolute;
        top: 280px;
        left: 170px;
        text-align: center;
        cursor: default;
    }

    #labelOverlay1 p {
      line-height: 0.3;
      padding:0;
      margin: 8px;
    }

    #labelOverlay1 p.used-size1 {
      line-height: 0.5;
      font-size: 18pt;
      text-align: center;
      color: #666;
    }

    #labelOverlay1 p.total-size1 {
      line-height: 0.5;
      font-size: 12pt;
      color: #666;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {    
    #labelOverlay {
        /*width: 90px;*/
        height: 45px;
        position: absolute;
        top: 280px;
        left: 280px;
        text-align: center;
        cursor: default;
    }

    #labelOverlay p {
      line-height: 0.3;
      padding:0;
      margin: 8px;
    }

    #labelOverlay p.used-size {
      line-height: 0.5;
      font-size: 18pt;
      text-align: center;
      color: #666;
    }

    #labelOverlay p.total-size {
      line-height: 0.5;
      font-size: 12pt;
      color: #666;
    }

    #labelOverlay1 {
        /*width: 90px;*/
        height: 45px;
        position: absolute;
        top: 280px;
        left: 300px;
        text-align: center;
        cursor: default;
    }

    #labelOverlay1 p {
      line-height: 0.3;
      padding:0;
      margin: 8px;
    }

    #labelOverlay1 p.used-size1 {
      line-height: 0.5;
      font-size: 18pt;
      text-align: center;
      color: #666;
    }

    #labelOverlay1 p.total-size1 {
      line-height: 0.5;
      font-size: 12pt;
      color: #666;
    }
}
@media only screen and (min-width: 1800px) { 
    #labelOverlay {
        height: 45px;
        position: absolute;
        top: 280px;
        left: 380px;
        text-align: center;
        cursor: default;
    }

    #labelOverlay p {
      line-height: 0.3;
      padding:0;
      margin: 8px;
    }

    #labelOverlay p.used-size {
      line-height: 0.5;
      font-size: 18pt;
      text-align: center;
      color: #666;
    }

    #labelOverlay p.total-size {
      line-height: 0.5;
      font-size: 12pt;
      color: #666;
    }

    #labelOverlay1 {
        height: 45px;
        position: absolute;
        top: 280px;
        left: 400px;
        text-align: center;
        cursor: default;
    }

    #labelOverlay1 p {
      line-height: 0.3;
      padding:0;
      margin: 8px;
    }

    #labelOverlay1 p.used-size1 {
      line-height: 0.5;
      font-size: 18pt;
      text-align: center;
      color: #666;
    }

    #labelOverlay1 p.total-size1 {
      line-height: 0.5;
      font-size: 12pt;
      color: #666;
    }
}
/*END PIE CHART*/

/*@media (max-width: 400px) {
    #labelOverlay {
        height: 45px;
        position: absolute;
        top: 280px;
        left: 70px;
        text-align: center;
        cursor: default;
    }

    #labelOverlay p {
      line-height: 0.3;
      padding:0;
      margin: 8px;
    }

    #labelOverlay p.used-size {
      line-height: 0.5;
      font-size: 18pt;
      text-align: center;
      color: #666;
    }

    #labelOverlay p.total-size {
      line-height: 0.5;
      font-size: 12pt;
      color: #666;
    }

    #labelOverlay1 {
        height: 45px;
        position: absolute;
        top: 280px;
        left: 90px;
        text-align: center;
        cursor: default;
    }

    #labelOverlay1 p {
      line-height: 0.3;
      padding:0;
      margin: 8px;
    }

    #labelOverlay1 p.used-size1 {
      line-height: 0.5;
      font-size: 18pt;
      text-align: center;
      color: #666;
    }

    #labelOverlay1 p.total-size1 {
      line-height: 0.5;
      font-size: 12pt;
      color: #666;
    }
}*/

#facilityotherdivs{
    display: none; 
}

#establishdiv{
    display: none; 
}
#strengthenddiv{
    display: none; 
}

#developeddiv{
    display: none; 
}
#sustaineddiv{
    display: none; 
}
#sizeenterpriseother{
    display: none; 
}
#sizeenterpriseother{
    display: none; 
}
#check1_ep{
    display: none; 
}
#check2_ep{
    display: none; 
}
#recogYesdiv{
    display: none; 
}
#resultvalidationdiv{
    display: none; 
}
#cupadiv{
    display: none; 
}
#cbidiv{
    display: none; 
}
#otherecoactivitydiv{
    display: none; 
}
#visitornationalsdiv{
    display: none; 
}
#chck-otheruses{
    display: none; 
}

p{
    text-align: center;
    color: #666;
    margin-top: 10px;
}

/* ----- CALENDAR ELEMENTS ----- */

    .calendar{
    font-family: "Helvetica Neue Bold", arial, helvetica, sans-serif;
    font-size: 100%;
    margin: 10px;
    color: #333;
    background-color: #ffffff;
        /*font-family:Arial;font-size 12px;*/
        }
        table.calendar{
        
            margin:auto; border-collapse: collapse;
            
        }
        .calendar .days td{
         width: 100px; height:100px; paddings: 5px;
        
            
    position: relative;
    
    background-color: #fff;
        border-radius: 0.6em;
    box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
    overflow: hidden;
        }
        
        .calendar .days td:hover{
        cursor: pointer;
        background-color: green;
         }
         
        .calendar .day_num{
         display: block;
        width: 100%;
        font-size: 2em;
        font-weight: normal;
        font-style: normal;
        text-align: center;
            }
            
            
        .calendar .highlight{
          font-weight: bold; color: #00F;
        }
        
        .calendar.weekday{
            background-color:red;
            }
        

.cont{
  width:auto;
}
.container_news{
  /*display:flex;*/
  flex-wrap:wrap;
  width:auto;
  justify-content:flex-start;
}
.single-item{
  width:auto;
  height:200px;
  /*display:flex;*/
  align-items:center;
  justify-content:justify;
  background-color:#f2f2f2;
  margin: 20px;
  border-radius: 10px;
  color:#404040;
  padding-left: 20px;
}
.pagination {
  padding: 20px;
}
.pagination,
.pagination * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.pagination a {
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;
}
.pagination a.disabled {
  opacity: 0.3;
  pointer-events: none;
  cursor: not-allowed;
}
.pagination a.current {
  background: #999999;
  color: #fff;
}

.col-div-box{
background-color: lightblue;
padding: 15px 15px 15px 15px;
box-shadow: 3px 3px 5px 6px #ccc;
margin-bottom: 30px;
/*min-height: 360px;*/
}

.col-div-box:first-child{
    margin-right: 15px;
}
.left-vertical-tabs {
    width: 200px;
    float: left;
}
.col-div-box:last-child{
    margin-left: 15px;
}

.header-about{
    background-color: #33cc33;
    padding-top: 15px;
    margin-bottom: 30px;
    color: #fff;
}

.header-home{
    background-color: #33cc33;
    padding: 2px 15px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #fff;
}

.header-stat{
    background-color: #33cc33;
    padding: 15px 15px;
    margin-bottom: 30px;
    color: #fff;
}

.header-contact{
    background-color: #33cc33;
    padding: 15px;
    margin-bottom: 30px;
    color: #fff;
}

.header-title{
    background-color: #33cc33;
    padding: 15px 15px;
    margin-bottom: 30px;
    color: #fff;
}

ul.bulletme{
    list-style-type: disc !important;
    padding-left:1em !important;
    text-align: left;
}
ul.bulletme li{
   list-style:square;
   text-align: left !important;
}
ul{
    padding: 0px;
}
li{
    list-style: none;
    margin: 0 auto;
    padding: 3px;
    /*border-radius: 10px 10px 10px 10px;*/
    
}
footer li:hover{
    background: transparent;
}

li:hover{
    background: #dcefdc;
    /*border-radius: 10px 10px 10px 10px;*/
    /*background-color:#cae8cb;*/
}
ul li a{
    list-style: none;
    text-decoration: none;
}
ul li a.active {
    background-color: #4CAF50;
}

a{
    color: #838080;
    /*text-transform: capitalize;*/
}
.card-cover{
background-color: lightblue;
padding: 15px 15px 15px 15px;
box-shadow: 3px 3px 5px 6px #ccc;
margin-bottom: 30px;
}

a:hover{
    color: black;
    text-decoration:none;
    font-weight: 400;
    outline: 0;
}

p i{
    padding: 5px;
    color: black;
}
h2{
    text-align: left;
    color: #000;
}

h3{
    margin: 0px;
    text-align: left;
    color: #000;
    /*font-weight: 700;*/
}
h4{
    text-align: center;
    color: #000;
}
h5{
    /*text-align: center;*/
    /*font-weight: 700;*/
}
form{
    margin-top: 20px;
    margin-bottom: 30px;
}
strong{
    font-weight: bold;
    font-size: 30px;
    color: #366b82;
}
ul.amazingslider-slides{
    position: relative;
    width: 1024px;
}

footer{
    padding: 2.75rem 0;   
    width: 100%;
    background-color: #f0f0f5;    
    font-size: .75rem;
    text-align: left;
    color: #efeff4;
    bottom: 180px;
     /*background: url(../img/bg-footer.png) no-repeat 0 100%;*/
    /*background-color: #32313b;*/
    /*border-radius: 5px 5px 5px 5px ;*/
    /* float: left;*/
}
footer hr{
    border: solid #dddddd;
    border-width: 1px 0 0;
    clear: both;
    margin: 1.25em 0 1.1875em;
    height: 0;    
}

footer a:hover{
  color: #ff9999
}

/**/

footer a:active{
    color: #838080
}

.left-vertical-tabs {
    width: 200px;
    float: left;
}

.nav-stacked {
    border-right: 1px solid #F1EAE0;
    font-size: 14px;
    font-weight: 600;
    padding: 20px 0;
    text-align: right;
}

.nav-stacked > li {
    float: none;
}
.nav > li {
    position: relative;
    display: block;
}

.nav-stacked > li.active > a {
    color: #ff8080;
}
.nav-stacked > li > a {
    color: #A49E93;
    padding: 7px 25px;
    text-align: right;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;

}

.nav-stacked > li.active ::before {
    border-right: 11px solid #F1EAE0;
    border-top: 11px solid rgba(0, 0, 0, 0);
    border-bottom: 11px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 7px;
}

.nav-stacked > li.active ::after {
    border-right: 11px solid #ff8080;
    border-top: 11px solid rgba(0, 0, 0, 0);
    border-bottom: 11px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    position: absolute;
    right: -1px;
    bottom: 7px;
}

.right-text-tabs {
    width: calc(97% - 170px);
    float: left;
    padding: 6px 15px;
}

.tab-content>.tab-pane {
 display:none
}
.tab-content>.active {
 display:block
}
.tab-pane p {
    text-align: justify;
}
.justify-left{
    padding-left: 20px;
}
p.footer {
        text-align: right;
        font-size: 11px;
        border-top: 1px solid #D0D0D0;
        line-height: 32px;
        padding: 0 10px 0 10px;
        margin: 20px 0 0 0;
}

footer p {
    font-size: 1.3rem;
    text-align: left;
    margin: 0 0 3px;
}

footer .footer-logos {
    width: 8.75rem;
    height: auto;
    display: inline-block;
    padding-top: 10px;

}

footer .footer-content {
    display: inline-block;

}

footer li, footer ul {
    padding-left: 0;
    list-style: none;
    /*padding-bottom: .7em;*/
    font-size: 1.25rem
}

footer ul .office{
    font-size: 1.25rem;
    margin: 0 0 -5px 0; 

}

.nav li {
    display: inline-block;
    /*font-size: 20px;*/
    padding: 0px;
}

footer h5{
    color: #0066ff;
    margin:0 0 0 0;
}
footer h5.site{
    color: #366b82;
    /*background-color: #ccffcc;*/
    font-size: 1.75rem;
    font-weight: 600;
}
@media (max-width:768px)
{
    footer h5.site{
    color: #666;
    margin-top: 30px;
    }

    h5.site{
        text-align: center;
    }

    ul li{
        text-align: center;
        margin: auto;
        width: 100%;
    }

    .socialmedia-links{     
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
    }

    ul .office{
        text-align: left;
    }

}

footer h5.social{
    color: #fff;
}

footer h4{
    text-align: left;
    color: #009900;
    margin:0 0 0 0;

}

footer h2{
    text-align: left;
    color: #666;
    margin-top: 10px;
    font-size: 2.25rem;
}


footer ul{
    margin-top: 10px;
}
footer ul li a {
    color: #666;
    font-weight: 1.95rem;

}

footer ul li a:hover{
    /*background-color: #fff;*/
    color: #000;
}

footer .socialmedia-links{
    margin-top:10px
    }

footer .socialmedia-links li{
    display:inline;
    padding:8px
    }

footer .socialmedia-links li:first-of-type{
    padding-left:0
    }

footer .socialmedia-links li:last-of-type{
    padding-right:0
    }

footer .socialmedia-links a{
    -webkit-filter:grayscale(1);
    filter:grayscale(1)
    }

footer .socialmedia-links a:focus,
footer .socialmedia-links a:hover{
    -webkit-filter:none;filter:none
    background-color:#fff;
    }

footer .socialmedia-links a:active{
    position:relative;
    top:1px
}

footer .socialmedia-links li a:hover{
    /*background-color: #fff;*/
    color: #0099ff;
}

.regclass {
    text-align: center;
    font-weight: bold;
    background-color: #1a75ff;
    color: #f4f4f4;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.republic{
    color:#666;
}

.logo{
    margin-top: 7px;
 
}
.well {
    padding: 8px;
    display: block;
    text-align: center;
    height: auto;
}

.col-md-6 p{
    text-align: right;
    margin-top: 10px;
}
.cat{
    text-align: left;
}
.des{
    text-align: center;
}

.tags{
    padding-bottom: auto;
}

.comments{
    text-align: left;
}
.comments_img
{
    width: 170px;
    height: 180px;
}
.reply{
    text-align: right;
}
.pagi-1{
    float: left;
}
.pagi-2{
    float: right;
}
.logo{
    padding: 0px;
}
.circle{
    width: 60px;
    height: 60px;
    border: 1px solid;
    border-radius: 50%;
    margin: 10px auto;
}
.circle i{
    margin-top: 15px;
    
}
.img-circle {
    border-radius: 50%;
    width: 100px;
}
._auto-960 {
    max-width: 960px;
    margin: 0 auto;
}

div.body_context p{
    text-align: justify;
}

#myInput {
  background-image: url('../img/search.png');
  background-size: 35px;
  background-position: 2px 2px;
  background-repeat: no-repeat;
  width: 30%;
  font-size: 14px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  float: right;
  border-radius: 5px 5px 5px 5px ;
}

/*Comment form*/
.comment-form {
    padding: 70px 0;
    background-color: rgba(255,255,255,0);
    width: 70%;
}

.comment-form h3{
    margin: 0 0 30px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
}

.comment-form .form-group{
    margin-bottom: 20px
}

.comment-form .form-control{
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    border-width: 0 0px 1px 0;
    border-radius: 0;
    height: 40px;
    font-weight: 500;
}

.comment-form textarea.form-control{
    height: auto;
}

.comments-list {
    margin-top: 30px;
    padding: 0;
    position: relative;
}

.reply-list:before, .reply-list:after {
    display: none;
}

.comments-list li {
    margin-bottom: 30px;
    display: block;
    position: relative;
}

.comments-list li:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
}

.reply-list {padding-left: 88px;
    clear: both;
    margin-top: 30px;
}

.comments-list .comment-avatar {
    width: 65px;
    height: 65px;
    position: relative;
    float: left;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.comments-list .comment-avatar img {width: 100%;height: 100%;}
.reply-list .comment-avatar {width: 50px;height: 50px;}
.comment-main-level:after {content: '';width: 0;height: 0;display: block;clear: both;}
.comments-list .comment-box {width: 88%;float: right;position: relative;}
.comments-list .comment-box::before {border-width: 10px 13px 11px 0;border-color: transparent rgba(0, 0, 0, 0.08);left: -12px;}
.reply-list .comment-box {width: 88%;}
.comment-box .comment-content {background: transparent;text-align: left;}
.comment-box .comment-content h5 {line-height: 25px;color: rgb(34, 34, 34);text-transform: uppercase;font-weight: 600;margin-top: 0;}
.comment-header {margin-bottom: 15px;letter-spacing: 0.1em;}
.comment-author {color: rgb(34, 34, 34);text-transform: uppercase;font-weight: 600;margin-top: 0;font-style: normal;letter-spacing: 0;}
.comment-datetime {margin-left: 16px;font-size: 11px;font-weight: 500;}
.comment-content p{margin: 0 0 18px;text-align: left;}
.comment-content .thm-btn{background-color: transparent;color: #555;border-width: 1px 0 1px 0;border-style: solid;border-color: #ddd;border-radius: 0;padding: 6px 15px;font-weight: 500;}
.comment-content .thm-btn:hover{color: #207fdd;border-color: #207fdd;}
.comment-content .thm-btn i{color: #207fdd;margin-right: 5px;}
.details-post{margin-bottom: 10px;}

/*back to top*/
#toTop{position: fixed;bottom: 30px;right: 30px;cursor: pointer;display: none;}
.btn-top {color: #fff;background-color: #207fdd;border-color: #207fdd;padding: 8px 12px;}

ul.crumbs{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/
}

ul.crumbs li{
    float: left;
}

ul.crumbs li a {
    display: block;
    color: black;
    text-align: center;
    /*padding: 14px 16px;*/
    text-decoration: none;
}

ul.crumbs li a:hover {
    /*background-color: #111;*/
}

.body-news{
    border: 1px solid #000;
    height: 120px;
    border-radius: 10px 10px 10px 10px;
}

header{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 40px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 72px;
    margin-bottom: 20px;
    margin-top: 20px;

}

.head{
    text-align: center;
    position: relative;


}

.headerobjectswrapper{
}

.subhead{
    text-transform: uppercase;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    padding: 12px 0 12px 0;

}
.weatherforcastbox{
    position: relative;
    width: 5%;
    left: 10px;
    border: 3px double #2f2f2f;
    padding: 10px 15px 10px 15px;
    line-height: 20px;
    display: inline-block;
    margin: 0 50px 20px -360px;
}
.content{
    font-size: 0;
    line-height: 0;
    word-spacing: -.31em;
    display: inline-block;
    margin: 30px 2% 0 2%;


}
.collumns{

}

.collumn p{
    text-align: justify;

}

.collumn{
    font-size: 14px;
    line-height: 20px;
    width: 50%;
    display: inline-block;
    padding: 0 1% 0 1%;
    vertical-align: top;
    margin-bottom: 50px;
    transition: all .7s;
}
.collumn + .collumn { 
  border-left: 1px solid #2f2f2f;
}
.collumn .headline{
    text-align: center;
    line-height: normal;
    font-family: 'Playfair Display', serif;
    display: block;
    margin: 0 auto;


}
.collumn .headline.hl1{
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    padding: 10px 0 10px 0;

}

.collumn .headline.hl2{
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.collumn .headline.hl2:before{
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}
.collumn .headline.hl2:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 13px;
    display: block;
    margin: 0 auto;

}

.collumn .headline.hl3{
    font-weight: 400;
    font-style: italic;
    font-size: 36px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
.collumn .headline.hl4{
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
.collumn .headline.hl4:before{
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}
.collumn .headline.hl4:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 10px;
    display: block;
    margin: 0 auto;

}

.collumn .headline.hl5{
    font-weight: 400;
    font-size: 42px;
    text-transform: uppercase;
    font-style: italic;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
.collumn .headline.hl6{
    font-weight: 400;
    font-size: 18px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
.collumn .headline.hl6:before{
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}
.collumn .headline.hl6:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 10px;
    display: block;
    margin: 0 auto;

}
.collumn .headline.hl7{
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    display: block;
    padding: 10px 0 10px 0;
}
.collumn .headline.hl8{
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
.collumn .headline.hl9{
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
.collumn .headline.hl10{
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
.collumn .citation{
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    line-height: 44px;
    /*font-style: italic;*/
    text-align: center;
    font-weight: 400;
    display: block;
    margin: 40px 0 40px 0;
    font-feature-settings: "liga", "dlig";

}
.collumn .citation:before{
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 16px;
    display: block;
    margin: 0 auto;
}
.collumn .citation:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 16px;
    display: block;
    margin: 0 auto;
}
.collumn .figure {
      margin: 0 0 20px;
}
.collumn .figcaption{
    font-style: italic;
    font-size: 12px;
}
.media {
    -webkit-filter: sepia(80%) contrast(1) opacity(0.8);
    filter: sepia(80%) grayscale(1) contrast(1) opacity(0.8);
    mix-blend-mode: multiply;
    width: 100%;
}
/*________________________________________________________________________________________________________________________________*/
/*MEDIAQUERIES*/
@media only all and (max-width: 1300px) {
    .weatherforcastbox{
        display: none;
    }

}
@media only all and (max-width: 1200px) {
    .collumn{
        width: 31%;
    }

}
    @media only all and (max-width: 900px) {
    .collumn{
        width: 47%;
    }

}
@media only all and (max-width: 600px) {
    .collumn{
        width: 100%;
    }
    .collumn + .collumn {
                border-left: none;
        border-bottom: 1px solid #2f2f2f;
    }
    header{
        max-width: 320px;
        font-size: 60px;
        line-height: 54px;
        overflow: hidden;
    }

}

#pagination{
    font:11px Tahoma, Verdana, Arial, "Trebuchet MS", Helvetica, sans-serif;
    color:#3d3d3d;
    margin-top: 20px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
    width:100%;
}
#pagination a, #pagination strong{
    list-style-type: none;
    display: inline;
    padding: 5px 8px;
    text-decoration: none; 
    background-color: inherit;
    color: #EC7117;
    font-weight: bold;
}
#pagination strong{
    color: #ffffff;
    background-color:#F00;
    background-position: top center;
    background-repeat: no-repeat;
    text-decoration: none; 
}
#pagination a:hover{
    color: #ffffff;
    background-color:#F00;
    background-position: top center;
    background-repeat: no-repeat;
    text-decoration: none; 
}

iframe {
  margin-top: 20px;
  margin-bottom: 30px;

  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;

  -moz-box-shadow: 4px 4px 14px #000;
  -webkit-box-shadow: 4px 4px 14px #000;
  box-shadow: 4px 4px 14px #000;

  /*-moz-transform:rotate(20deg);*/
  /*-webkit-transform:rotate(20deg);*/
  /*-o-transform:rotate(20deg);*/
  /*-ms-transform:rotate(20deg);*/
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=.2);
}
.data {
    margin-top: 20px;
    margin-bottom: 30px;

    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;

    -moz-box-shadow: 4px 4px 14px #000;
    -webkit-box-shadow: 4px 4px 14px #000;
    box-shadow: 4px 4px 14px #000;
}

.data img{
    width: auto;
  
}
/*Image effect*/
.img-effect {
    position: relative;
    width: 100%;
}
.img-effects{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.img-effect:hover .img-effects {
  opacity: 0.3;
}

.img-effect:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  border-radius: 10px 10px 10px 10px ;
}

/*End Image Effect*/

/* Gray Scale Image*/
.hover08 figure img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.hover08 figure:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
/* END Gray Scale Image */
.column {
    margin: 15px 15px 0;
    padding: 0;
}
.column:last-child {
    padding-bottom: 60px;
}
.column::after {
    content: '';
    clear: both;
    display: block;
}
.column div {
    position: relative;
    float: left;
    /*width: 300px;*/
    /*height: 200px;*/
    margin: 0 0 0 25px;
    padding: 0;
}
.column div:first-child {
    margin-left: 0;
}
.column div span {
    position: absolute;
    bottom: -20px;
    left: 0;
    z-index: -1;
    display: block;
    width: 300px;
    margin: 0;
    padding: 0;
    color: #444;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    opacity: 0;
}

frame {
    width: 100%;
    height:220px; 
    position: relative;
    overflow: hidden;
    margin: 0 0 0 0;
}

.frame:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    opacity: 0;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    transition: all 0.5s ease-in;
}

.frame:after {
    content: '';
    position: absolute;
    right: 0;bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    opacity: 0;
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    transition: all 0.5s ease-in;
}

.frame a.zoom {
    border-radius: 30px;
    background: transparent;
    display: inline-block;
    font-size: 18px;
    height: 45px;
    line-height: 41px;
    width: 45px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; 
    margin: auto;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
    color: rgba(255,255,255,0.6);
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    border: 3px solid rgba(255,255,255,0.6);
}

.frame img{
    width: 30%;
    display: inline-block;
    /*float: left;*/
}

.content-box {
    margin-top: 27px;
}

.date-box, .post-inner {
    display: table-cell;
    vertical-align: top;
}

.date-box {
    padding-right: 25px;
}

.date-box .inner {
    width: 65px;
    text-align: center;
}

.date-box .inner .date {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    line-height: 20px;
    background: #207fdd;
    padding: 15px 0;
}

.date-box .inner .date b {
    display: block;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    line-height: 20px;
}

.date-box .comment {
    background-color: #202a30;
    font-size: 20px;
    color: #fff;
    line-height: 17px;
    font-weight: 500;
    padding: 16px 0;
}

.post-inner h3, .post-inner p{
    margin: 0 0 15px;
    text-align: justify;
    text-indent: 20px;
    padding-left: 50px !important;
    padding-right: 50px !important;
}

.post-inner h3 a{
    color: #211324;
    text-decoration: none;
}

.post-inner h3 a:hover{
    color:#207fdd;
}


.combo-box-base {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.component {
    line-height: 1.5em;
    margin: 0 auto;
    padding: 2em 0 3em;
    width: 100%;
    /*max-width: 1000px;*/
    overflow: hidden;
}
.component .filler {
    font-family: "Blokk", Arial, sans-serif;
    color: #d3d3d3;
}
.line{
    width: 100%;
    border-bottom: 2px solid #2f2f2f;
    position: absolute;
}
/*TABLE*/
@font-face {
    font-family: 'Blokk';
    src: url('../fonts/blokk/BLOKKRegular.eot');
    src: url('../fonts/blokk/BLOKKRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/blokk/BLOKKRegular.woff') format('woff'),
         url('../fonts/blokk/BLOKKRegular.svg#BLOKKRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.component {
    line-height: 1.5em;
    margin: 0 auto;
    padding: 2em 0 3em;
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
}
.component .filler {
    font-family: "Blokk", Arial, sans-serif;
    color: #d3d3d3;
}

table {
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 12px;
    line-height: 24px;
    margin: 30px auto;
    text-align: left;
    width: auto;
}   
.table-ola{
 border-collapse: collapse;
 border-spacing: 0;
 width: 100%;
 border: 1px solid #000;
 margin: 0;
}

.table-ola>thead>tr>th, 
.table-ola>tbody>tr>th, 
.table-ola>tfoot>tr>th, 
.table-ola>thead>tr>td, 
.table-ola>tbody>tr>td, 
.table-ola>tfoot>tr>td{
   border: 1px solid #000;  text-align: center;  padding: 8px;
}



/*tbody:hover td {
    color: transparent;
    text-shadow: 0 0 3px #aaa;
}

tbody:hover tr:hover td {
    color: #444;
    text-shadow: 0 1px 0 #fff;
}*/
/*table {
    border-collapse: collapse;
    margin-bottom: 3em;
    width: 100%;
    background: #fff;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;

}
td, th {
    padding: 0.75em 1.5em;
    text-align: left;

}
    td.err {
        background-color: #e992b9;
        color: #fff;
        font-size: 0.75em;
        text-align: center;
        line-height: 1;
    }
th {
    background-color: #4caf50;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
    text-align: center;
}
.table, th, td{
    border: 1px solid #b3b3b3;
}
tbody th {
    background-color: #4caf50;
}
tbody tr:nth-child(2n-1) {
    background-color: #f5f5f5;
    transition: all .125s ease-in-out;
}
tbody tr:hover {
    background-color: rgba(129,208,177,.3);
}*/
.pdfbutton{
    padding: 20px 10px 10px 10px;
    background-color: #ff3333;
    color: #f4f4f4;
    border-radius: 10px 10px 10px 10px;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;

}

.header{
    cursor: pointer;
    display: table-row;
}

td.headspan{
    /*background-color: #e67300;*/
    text-align: center;
}

/* For appearance */
.sticky-wrap {
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    margin: 3em 0;
    width: 100%;
}
.sticky-wrap .sticky-thead,
.sticky-wrap .sticky-col,
.sticky-wrap .sticky-intersect {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .125s ease-in-out;
    z-index: 50;
    width: auto; /* Prevent table from stretching to full size */
}
    .sticky-wrap .sticky-thead {
        box-shadow: 0 0.25em 0.1em -0.1em rgba(0,0,0,.125);
        z-index: 100;
        width: 100%; /* Force stretch */
    }
    .sticky-wrap .sticky-intersect {
        opacity: 1;
        z-index: 150;

    }
        .sticky-wrap .sticky-intersect th {
            background-color: #e67300;
            color: #eee;
        }
.sticky-wrap td,
.sticky-wrap th {
    box-sizing: border-box;
}

/* Not needed for sticky header/column functionality */
td.user-name {
    text-transform: capitalize;
}
.sticky-wrap.overflow-y {
    overflow-y: auto;
    max-height: 50vh;
}

/*LOGIN PANEL BOX*/
.panel-box{
    shape-margin: 20px;
    border:1px solid transparent;
    border-radius: 4px;
    webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 3px 3px 3px rgba(0,0,0,.15);
}

.panel-box-theme{
    border-color: #bfbfbf;
}
.panel-box-theme .panel-box-heading{
    color: #666;
    background-color: #cccccc;
    border-color: #e6e6e6;
    text-shadow: 1px 1px 1px #666, 3px 3px 2px #fff;
}
.panel-box-heading{
padding: 10px 15px;
border-bottom: 1px solid transparent;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
}

.panel-body-theme{
    padding: 15px;
}

input.form-controlled{
    border: none;
    display: block;
    margin: 10px;
    padding: 5px
    font-size 22px;
}

input.email:hover,
input.password:hover{
    outline: 0;
}

input.email, input.password{
    font-size: 18px;
    font-weight: 300;
    border-radius: 2px;
    margin: 0;
    border: none;
    width: 80%;
    background: rgba(0,0,0,0);
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    overflow-x: hidden;
}

input.form-controlled + label{
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    width: 10%;
    border-top: 1px solid red;
    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease;
    height: 0px;
}

input.form-controlled:focus + label{
    width: 80%;
}

input.form-controlled:focus,
input.form-controlled:valid{
    padding-top: 15px;
}

input.form-controlled:focus + label > span,
input.form-controlled:valid + label > span{
    top: -40px;
    font-size: 12px;
    color: #666;
}

input.form-controlled:valid + label{
    border-color: green;
}

input.form-controlled:invalid + label{
    box-shadow: none;
}

input.form-controlled + label > span{
    font-weight: 300;
    margin: 0;
    position: absolute;
    font-size: 18px;
    top: -30px;
    left: 0px;
    z-index: -1;
    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}
.ribbonHead {
  /*width: 280px;*/
  background-color: #fff;
  padding: 20px 30px 30px 50px;
  margin: 30px 0px 30px 0px;
  /*margin-top: 30px;*/
  /*margin-left: 30px;*/
}

.ribbonHeadCenter {
    position: relative;
 height: auto;

  background-color: #fff;
  padding: 20px 30px 30px 50px;
  margin: 30px 0px 30px 0px;
}

.ribbonHeadCenter h1{
    color: #fff;
    /*position: relative;*/
    background-color: #0066ff;
    margin: -30px -50px 20px -70px;
    padding: 14px 0px 16px 10px;
    text-transform: uppercase;
}

.col-box{
    background-color: #f0f5f5;
    position: absolute;
    /*position: relative;*/
    /*padding: 20px 30px 30px 50px;
    margin: 30px 0px 30px 0px;*/
}

/* STYLING H1 ELEMENT */
.ribbonHead h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #fff;
  position: relative;
  background-color: #4caf50;
  margin: -30px -70px 20px -30px;
  padding: 14px 0px 16px 10px;
  text-transform: uppercase;

}

/* PUTTING TRIANGLE AFTER H1 ELEMENT */
.ribbonHead h1:after {
  content: "";
  display: block;
  height: 40px;
  width: 40px;
  background: url("http://gdurl.com/mhmH") no-repeat 0 0;
  position: absolute;
  right: 0px;
  bottom: -40px;
}

/* JUSTIFYING THE TEXT*/
.ribbonHead p {
  text-align: justify;
  margin-left: -30px;
}

.ribbonHead .ribbonImage{
    padding: 0px 0px 0px 0px;
    max-width: 120%;
    margin-left: -30px;
}

.ribbonHead .ribbonImageComp{
    padding: 0px 0px 0px 0px;
    max-width: 30%;
    margin-left: -30px;
}

/*CHART STYLE*/
#canvas-holder {
    width: 100%;
    margin-top: 50px;
    text-align: center;
}
#chartjs-tooltip {
    opacity: 1;
    position: absolute;
    background: rgba(0, 0, 0, .7);
    color: white;
    border-radius: 3px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    pointer-events: none;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.chartjs-tooltip-key {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

@media print {
    #searchVisitorLogs {
        display :  none;
    }
    #pdfsubmit {
        display :  none;
    }
}

.content-table {
  border-collapse: collapse;
  margin: 0;
  font-size: 0.9em;
  width: 100%;
  /*min-width: 400px;*/
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table < thead {
  border: 0 solid ##009879;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
