@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin,latin-ext);
.dataCell {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 100%;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #cccccc;
padding: 3px 5px 3px 5px;
}
.table4 {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 95%;
border-top-width: 2px;
border-bottom-width: 2px;
border-top-style: solid;
border-bottom-style: solid;
border-top-color: #154360;
border-bottom-color: #154360;
}
tr.spaceUnder>td {
  padding-bottom: 1em;
}
tr.spaceOver>td {
  padding-top: 1em;
}
td.spaceRight{
  padding-right: 1em;
}

table.tableprofile tr td a.button { display:none;}
table.tableprofile tr:hover td a.button { display:inline-block;}

.table4 tr td:first-child{
  /*background-color: #3f3f3f;*/
}
#responseDivMain{
   /*position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 2.5;
    overflow: hidden; 
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;*/
    height: auto;
  padding: 10px;
  border-bottom: #0a0;
  background: rgba(75,200,75,0.90);
  box-shadow: 0px 0px 2px rgba(0,0,0,0.35);
  text-align: center;
  position: fixed;
  top: 0px;
  width: 100%;
  font-size: 16px;
  color: #fff;
  text-shadow: 1px 1px 0px #999;
  display: none;
}

@-webkit-keyframes slideDown {
    0%, 100% { -webkit-transform: translateY(-50px); }
    10%, 90% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
    0%, 100% { -moz-transform: translateY(-50px); }
    10%, 90% { -moz-transform: translateY(0px); }
}

.cssanimations.csstransforms #responseDivMain {
    -webkit-transform: translateY(-50px);
    -webkit-animation: slideDown 2.5s 1.0s 1 ease forwards;
    -moz-transform:    translateY(-50px);
    -moz-animation:    slideDown 2.5s 1.0s 1 ease forwards;
}

.block h3 {
    font-size: 1.3em;
    padding: 0 0px;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.4em;
}
table, td, th {
    vertical-align: middle;
}
strong, dfn, caption, th {
    font-weight: 700;
}

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
/*TABULATION*/

#containers {
  height: 80vh;
  width: auto;
  /*top: 10vh;*/
  /*left: 5vw;*/
  position: relative;
  visibility: visible;
}

/*------------------------------------------
- INITIAL CONTENT // displays before block is selected
------------------------------------------*/
initial {
  position: absolute;
  z-index: 0;
  padding: 3vh 5vw;
  height: 100%;
  width: 100%;
  top: 0%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background: #fff;
}
initial h1 {
  margin: 0;
  font-weight: 200;
  color: #38c5b9;
}
initial h1 a {
  font-size: 8vmin;
}
initial p {
  font-weight: 100;
  font-size: 4vmin;
  max-width: 50vw;
  margin: 7px auto;
}
initial a {
  text-decoration: none;
  color: #2093d1;
  font-size: 4vmin;
}
/*------------------------------------------
- BLOCKS // alignment, size
------------------------------------------*/
.blocks {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100.05%;
  height: 100.5%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.blocks__block {
  will-change: transform;
  position: relative;
  height: 15%;
  width: 100%;
  flex: 1;
  transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}
.blocks__block:hover {opacity:.9;}
.blocks__block.active {
  z-index: 2;
}
/*------------------------------------------
- BLOCKS // individual block background color & transform origin 
------------------------------------------*/
.blocks__block:nth-child(1) {background: #E1F5FE; transform-origin: 0% 0%;}
.blocks__block:nth-child(2) {background: #81D4FA; transform-origin: 20% 0%;}
.blocks__block:nth-child(3) {background: #29B6F6; transform-origin: 40% 0%;}
.blocks__block:nth-child(4) {background: #03A9F4; transform-origin: 60% 0%;}
.blocks__block:nth-child(5) {background: #0288D1; transform-origin: 80% 0%;}
.blocks__block:nth-child(6) {background:#01579B; transform-origin: 100% 0%;}
.blocks__block:nth-child(7) {background:#ffccdd; transform-origin: 0% 0%;}
.blocks__block:nth-child(8) {background:#ffb3cc; transform-origin: 20% 0%;}
.blocks__block:nth-child(9) {background:#ff99bb; transform-origin: 40% 0%;}
.blocks__block:nth-child(10) {background:#ff80aa; transform-origin: 60% 0%;}
.blocks__block:nth-child(11) {background:#ff6699; transform-origin: 80% 0%;}
.blocks__block:nth-child(12) {background:#ff4d88; transform-origin: 100% 0%;}
/*------------------------------------------
- BLOCK TITLE // alignment
------------------------------------------*/
.blocks-names {
  position: absolute;
  top: 0;
  z-index: 2;
  height: 100%;
  width: 100.5%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 2vmin;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.15s ease-out;
}
.blocks-names .blocks__name {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  height: 15%;

}
.blocks-names .blocks__name:hover {
  background: rgba(255,255,255,.25);
  -webkit-transition: all .2s ease-out; 
     -moz-transition: all .2s ease-out; 
       -o-transition: all .2s ease-out; 
          transition: all .2s ease-out;}
/*------------------------------------------
- BLOCK TITLE 
------------------------------------------*/
.blocks-names .blocks__name:nth-child(-n+3){}
.blocks-names .blocks__name:nth-child(n+4):nth-child(-n+6) {color: #fff;}
.blocks-names .blocks__name:nth-child(n+7):nth-child(-n+12) {color: #000;}
     /* //if you want individual control
    .blocks-names .blocks__name:nth-child(1) {}
    .blocks-names .blocks__name:nth-child(2) {}
    .blocks-names .blocks__name:nth-child(3) {}
    .blocks-names .blocks__name:nth-child(4) {color: #fff;}
    .blocks-names .blocks__name:nth-child(5) {color: #fff;}
    .blocks-names .blocks__name:nth-child(6) {color: #fff;}
    */
/*------------------------------------------
- BLOCK CONTENT // positioning & transform 
------------------------------------------*/
.blocks-content {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.blocks-content__content {
  will-change: transform, opacity;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
  bottom: 7.5%;
  left: 0;
  right: 0;
  padding: 5%;
  font-size: 4vmin;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  transform: scale(0.9);
  transition: all 0.3s 0.2s ease-out;
}
.blocks-content__content.active {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}
/*------------------------------------------
- BLOCK CONTENT // individual block control
------------------------------------------*/
.blocks-content .blocks-content__content:nth-child(-n+3){}
.blocks-content .blocks-content__content:nth-child(n+4):nth-child(-n+6) {color: #fff;}
    /* //if you want individual control
    .blocks-content .blocks-content__content:nth-child(1) {}
    .blocks-content .blocks-content__content:nth-child(2) {}
    .blocks-content .blocks-content__content:nth-child(3) {}
    .blocks-content .blocks-content__content:nth-child(4) {color: #fff;}
    .blocks-content .blocks-content__content:nth-child(5) {color: #fff;}
    .blocks-content .blocks-content__content:nth-child(6) {color: #fff;}
    */
/*------------------------------------------
- BLOCK CONTENT // close 'button' 
------------------------------------------*/
.blocks-content .blocks__content-close-dark {
  position: fixed;
  background: transparent;
  width: 7.5vmin;
  height: 7.5vmin;
  line-height: 7.5vmin;
  right: 49%;
  bottom: 5%;
  font-size: 5vmin;
  cursor: pointer;
  outline: none;
  border-radius: 50%;
  transition: all 0.2s ease-out;
}
.blocks-content .blocks__content-close-light {
  position: fixed;
  background: transparent;
  width: 7.5vmin;
  height: 7.5vmin;
  line-height: 7.5vmin;
  right: 49%;
  bottom: 5%;
  font-size: 5vmin;
  cursor: pointer;
  outline: none;
  border-radius: 50%;
  transition: all 0.2s ease-out;
}
.blocks-content .blocks__content-close-dark:hover {
  background: rgba(0,0,0,.25);
  transform: scale(1.1);
}
.blocks-content .blocks__content-close-light:hover {
  background: rgba(255,255,255,.25);
  transform: scale(1.1);
}
/*------------------------------------------
- BLOCK CONTENT 
------------------------------------------*/
.blocks-content h2 {
  padding: 4vmin;
  font-weight: 200;
  letter-spacing: 6px;
}
.blocks-content p {
  font-size: 1em;
  line-height: 1.75;
  width: 90%;
  left: 5%;
}

/*------------------------------------------
- MD PAPER-SHADOW ATTRIBUTES - *MaterializeCSS Spec*
------------------------------------------*/ 
.z-depth-1, .blocks-content {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
.z-depth-1-half, .container {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }
.z-depth-2, .blocks__name:hover {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
.z-depth-3, .blocks__block.active {
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }
.z-depth-4 {
  -webkit-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21); }
.z-depth-5 {
  -webkit-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22); }

  #myInput{
    background-image: url('../img/imgico/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    background-size: 32px;
  }


#chart_wrap {
  /*width:50%;
    margin:10% auto;*/
    /*border:1px solid gray;*/
    /*position: relative;*/
    padding-bottom:100%;
    height: 0;
    overflow:hidden;
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2); 
    background-color: #fafafa
}
#chart {
    position: absolute;
    top: 0;
    left: 0;
    /*width:100%;*/
    /*height:100%;*/
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.styled-checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: #ff9980;
   box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.12);

}
.styled-checkbox:hover + label:before {
  background: #f35429;
}
.styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.styled-checkbox:checked + label:before {
  background: #f35429;
}
.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 10px;
  background: white;
  width: 3px;
  height: 3px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
