<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /paiss/index.php/$1 [L]
</IfModule>


php_value max_execution_time 300
php_value max_input_vars 5000
php_value upload_max_filesize 1000M
php_value post_max_size 1000M
